<!-- <form class="form"> 
  <h1>Criando nova venda</h1>

  <h2>Código da Venda:</h2>
  <mat-form-field class="full-width">
    <mat-label>Código</mat-label>
    <input matInput placeholder="Ex. 1200000" [(ngModel)]="venda.ven_codigo">
  </mat-form-field>

  <h2>Horário:</h2>
  <mat-form-field class="full-width">
    <mat-label>Horário</mat-label>
    <input matInput placeholder="Ex. 01:11:00" [(ngModel)]="venda.ven_horario">
  </mat-form-field>

  <h2>Valor Total:</h2>
  <mat-form-field class="full-width">
    <mat-label>Valor Total</mat-label>
    <input matInput placeholder="Ex. 150" [(ngModel)]="venda.ven_valor_total">
  </mat-form-field>

  <h2>Código do Funcionário:</h2>
  <mat-form-field class="full-width">
    <mat-label>Código do Funcionário</mat-label>
    <input matInput placeholder="Ex. 1" [(ngModel)]="venda.tb_funcionarios_fun_codigo">
  </mat-form-field>

  <h2>Itens:</h2>
  <div *ngFor="let item of venda.itens; let i = index">
    <h3>Item {{ i + 1 }}</h3>
    <mat-form-field class="full-width">
      <mat-label>Código do Item</mat-label>
      <input matInput placeholder="Ex. 12124" [(ngModel)]="item.ite_codigo">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Quantidade</mat-label>
      <input matInput placeholder="Ex. 3" [(ngModel)]="item.ite_quantidade">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Valor Parcial</mat-label>
      <input matInput placeholder="Ex. 50" [(ngModel)]="item.ite_valor_parcial">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Código do Produto</mat-label>
      <input matInput placeholder="Ex. 100" [(ngModel)]="item.tb_produtos_pro_codigo">
    </mat-form-field>
  </div>
  <button (click)="addItem()" mat-stroked-button color="primary">Adicionar Item</button>

  <button (click)="create()" mat-stroked-button color="accent">CRIAR VENDA</button>
  <button (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
</form>
 -->

<!-- ---------------------------------------------------------------------------------------------------------------------------------------- -->

<form class="form"> 
  <h1>Criando nova venda</h1>

  <h2>Código da Venda:</h2>
  <mat-form-field class="full-width">
    <mat-label>Código</mat-label>
    <input matInput placeholder="Ex. 1200000" [(ngModel)]="venda.ven_codigo" name="ven_codigo">
  </mat-form-field>

  <h2>Horário:</h2>
  <mat-form-field class="full-width">
    <mat-label>Horário</mat-label>
    <input matInput placeholder="Ex. 01:11:00" [(ngModel)]="venda.ven_horario" name="ven_horario">
  </mat-form-field>

  <h2>Valor Total:</h2>
  <mat-form-field class="full-width">
    <mat-label>Valor Total</mat-label>
    <input matInput placeholder="Ex. 150" [(ngModel)]="venda.ven_valor_total" name="ven_valor_total">
  </mat-form-field>

  <h2>Código do Funcionário:</h2>
  <mat-form-field class="full-width">
    <mat-label>Código do Funcionário</mat-label>
    <input matInput placeholder="Ex. 1" [(ngModel)]="venda.tb_funcionarios_fun_codigo" name="tb_funcionarios_fun_codigo">
  </mat-form-field>

  <h2>Itens:</h2>
  <div *ngFor="let item of venda.itens; let i = index">
    <h3>Item {{ i + 1 }}</h3>
    <mat-form-field class="full-width">
      <mat-label>Código do Item</mat-label>
      <input matInput placeholder="Ex. 12124" [(ngModel)]="item.ite_codigo" name="ite_codigo">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Quantidade</mat-label>
      <input matInput placeholder="Ex. 3" [(ngModel)]="item.ite_quantidade" name="ite_quantidade">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Valor Parcial</mat-label>
      <input matInput placeholder="Ex. 50" [(ngModel)]="item.ite_valor_parcial" name="ite_valor_parcial">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Código do Produto</mat-label>
      <input matInput placeholder="Ex. 100" [(ngModel)]="item.tb_produtos_pro_codigo" name="tb_produtos_pro_codigo">
    </mat-form-field>
  </div>

  <button (click)="addItem()" mat-stroked-button color="basic">ADICIONAR ITEM</button>

  <button (click)="create()" mat-stroked-button color="accent">CRIAR VENDA</button>
  <button (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
</form>

